@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');

:root {
	font-family: 'Oswald', sans-serif;
}

#scene {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.parallax-background {
	width: 115%;
	height: 115%;
	margin: -5%;
	background: url(../img/welcome-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.personal-card {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	position: relative;
}

.info {
	width: 230px;
	height: 280px;
	background: rgba(224, 224, 224, .8);
	position: fixed;
	top: 50%;
	margin-top: -125px;
	border-radius: 3%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

 .avatar {
	width: 120px;
	height: 120px;
	background: url(../img/avatar.jpg);
	background-size: cover;
	border-radius: 50%;
	margin-top: 20px;
}

.social {
	width: 50%;
	display: flex;
	justify-content: space-around;
}

.social a {
	color: #09AB99;
	font-size: 1.5rem;
	transition: .5s;
}

.social a:hover {
	color: #086d61;
}

h1 {
	font-size: 1.5rem;
	color: #343A40;
}

p {
	text-align: center;
	font-size: 0.9rem;
	color: #495057;
}

.buttons {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
}

.buttons a {
	width: 100%;
	height: 35px;
	text-align: center;
	text-decoration: none;
	background: #09AB99;
	color: #fff;
	line-height: 35px;
	transition: .5s;
}

.buttons a:hover {
	background: #086d61;
}