@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');

:root {
	font-family: 'Oswald', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

section {
	min-height: 100vh;
	margin-left: 25%;
	max-width: 980px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid #bcbcbc;
}

.burger-menu {
	display: none;
}

h1 {
	font-size: 3rem;
	margin: 0;
	color: #343A40;
}

h2 {
	font-size: 2.5rem;
	color: #343A40;
	font-weight: bold;
}

h3 {
	font-size: 2rem;
	font-weight: normal;
	color: #495057;
}

h4 {
	font-size: 1.5rem;
	color: #919296;
}

p {
	color: #919296;
}

.target {
	margin: 40px 0;
}

.target::before {
	color: #495057;
	content: 'My purpose:';
	font-size: 1.2rem;
	display: block;
}

.social a {
	display: inline-block;
	margin-right: 20px;
}

.social-other {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

.social-other p {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px 0;
}

.social-other span {
	color: #AA076B;
	margin-left: 3px;
}

.social-other p i {
	font-size: 2rem;
	margin-right: 15px;
}

.email {
	color: #AA076B;
	text-decoration: none;
}

.email:hover {
	color: #890454;
	text-decoration: underline;
}


i {
	text-align: center;
	font-size: 3rem;
	color: #495057;
	transition: .1s;
}

i:hover {
	color: #AA076B;
}

.education {
	margin-top: 50px;
}

.education p {
	display: block;
}

.education p span {
	color: #AA076B;
	text-align: right;
	font-size: 0.9rem;
}

.languages-tools {
	margin-top: 40px;
}

.languages-tools i{
	font-size: 1.2rem;
	margin-right: 15px;
}

.languages-tools h4 {
	margin-bottom: 10px;
}

.languages-tools p{
	font-size: 1.2rem;
}

.skills-img {
	margin-top: 50px;
}

.skills-img i{
	font-size: 2rem;
	margin-right: 5px;
}

.portfolio {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 80px;
	margin-bottom: 20px;
	width: 100%;
}

.project-info {
	margin-right: 20px; 
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.project-info h3 {
	margin-bottom: 30px;
}

.project-info a {
	display: block;
	text-decoration: none;
	color: #343A40;
	margin-top: 20px;
	width: 150px;
	height: 40px;
	border: 1px solid #343A40;
	line-height: 40px;
	transition: .2s;
}

.project-info a:hover {
	background-color: #AA076B;
	color: #fff;
}

.project-img {
	width: 50%;
}

.project-img img{
	width: 100%;
}

