@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');

:root {
	font-family: 'Oswald', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

section {
	min-height: 100vh;
	margin-left: 25%;
	max-width: 980px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid #bcbcbc;
}

.burger-menu {
	display: none;
}

h1 {
	font-size: 3rem;
	margin: 0;
	color: #343A40;
}

h2 {
	font-size: 2.5rem;
	color: #343A40;
}

h3 {
	font-size: 2rem;
	font-weight: normal;
	color: #495057;
}

h4 {
	font-size: 1.5rem;
	color: #919296;
}

p {
	color: #919296;
	margin: 40px 0;
}

.email {
	color: #AA076B;
	text-decoration: none;
}

.email:hover {
	color: #890454;
	text-decoration: underline;
}


i {
	text-align: center;
	font-size: 3rem;
	color: #495057;
	margin-right: 20px;
	transition: .1s;
}

i:hover {
	color: #AA076B;
}

/* adout me section */

#about-me {
	
}