@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');

:root {
	font-family: 'Oswald', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

section {
	min-height: 100vh;
	margin-left: 25%;
	max-width: 980px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid #bcbcbc;
}

.burger-menu {
	display: none;
}

h1 {
	font-size: 3rem;
	margin: 0;
	color: #343A40;
}

h2 {
	font-size: 2.5rem;
	color: #343A40;
	font-weight: bold;
}

h3 {
	font-size: 2rem;
	font-weight: normal;
	color: #495057;
}

h4 {
	font-size: 1.5rem;
	color: #919296;
}

p {
	color: #919296;
}

.target {
	margin: 40px 0;
}

.target::before {
	color: #495057;
	content: 'My purpose:';
	font-size: 1.2rem;
	display: block;
}

.social a {
	display: inline-block;
	margin-right: 20px;
}

.social-other {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

.social-other p {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px 0;
}

.social-other p i {
	font-size: 2rem;
	margin-right: 15px;
}

.email {
	color: #AA076B;
	text-decoration: none;
}

.email:hover {
	color: #890454;
	text-decoration: underline;
}


i {
	text-align: center;
	font-size: 3rem;
	color: #495057;
	transition: .1s;
}

i:hover {
	color: #AA076B;
}

.education {
	margin-top: 50px;
}

.education p {
	display: block;
}

.education p span {
	color: #AA076B;
	text-align: right;
	font-size: 0.9rem;
}